Repository DockeryAI/BuildRunnerSaaS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DockeryAI/buildrunner-admins, @DockeryAI/product-owners, @DockeryAI/tech-leads, @DockeryAI/database-admins, @DockeryAI/devops-leads, @DockeryAI/security-leads, @DockeryAI/qa-leads

feat: Integrate Phase 1 Speed Optimizations into BuildOrchestrator
  .buildrunner/STATUS.md
  apps/web/.env.local
  apps/web/lib/build-orchestrator.ts
Owners: @DockeryAI/buildrunner-admins

fix: Add comprehensive error handling with retry logic and exponential backoff
  .buildrunner/STATUS.md
  apps/web/lib/ai-component-generator.ts
  apps/web/lib/consensus-learning-enhanced.ts
  apps/web/lib/consensus-learning-phase3.ts
  apps/web/lib/orchestration/llm-gateway.ts
Owners: @DockeryAI/buildrunner-admins

fix: Update invalid Claude model ID in consensus learning
  .buildrunner/STATUS.md
  apps/web/lib/consensus-learning-enhanced.ts
  apps/web/lib/consensus-learning-phase3.ts
Owners: @DockeryAI/buildrunner-admins

fix: Disable plan verification consensus to unblock Phase 1 speed optimizations
  .buildrunner/STATUS.md
  apps/web/lib/build-orchestrator.ts
Owners: @DockeryAI/buildrunner-admins

perf: Start with 24k tokens to avoid truncation retries
  .buildrunner/STATUS.md
  apps/web/lib/ai-component-generator.ts
Owners: @DockeryAI/buildrunner-admins

feat: Implement three-layer component generation fix system
  .buildrunner/STATUS.md
  apps/web/lib/COMPONENT_FIX_PLAN.md
  apps/web/lib/ai-component-generator.ts
  apps/web/lib/build-validator.ts
  apps/web/lib/file-writer.ts
Owners: @DockeryAI/buildrunner-admins

fix: Remove shadcn UI dependencies - use self-contained Tailwind components
  .buildrunner/STATUS.md
  apps/web/lib/ai-component-generator.ts
  apps/web/lib/file-writer.ts
Owners: @DockeryAI/buildrunner-admins

fix: Resolve undefined variable error in plan validation regeneration
  .buildrunner/STATUS.md
  apps/web/app/api/prd/generate-plan/route.ts
Owners: @DockeryAI/buildrunner-admins

docs: Update READINESS_CHECK with resolved issues
  .buildrunner/STATUS.md
  READINESS_CHECK.md
Owners: @DockeryAI/buildrunner-admins

feat: Add Real-Time Error Detection & Auto-Fix Loop to build plan
  .buildrunner/STATUS.md
  .buildrunner/features.json
  docs/AUTO_HEALING_SYSTEM.md
Owners: @DockeryAI/buildrunner-admins

feat: Add PRD-Driven Autonomous Orchestration Engine to build plan
  .buildrunner/STATUS.md
  .buildrunner/features.json
  docs/PRD_ORCHESTRATION_ENGINE.md
Owners: @DockeryAI/buildrunner-admins

feat: Add GitHub Integration to roadmap (Phase 11)
  .buildrunner/STATUS.md
  IMPLEMENTATION_ROADMAP.md
  apps/web/docs/GITHUB_INTEGRATION_PLAN.md
Owners: @DockeryAI/buildrunner-admins

fix: Enforce PRD as single source of truth - No build without PRD
  .buildrunner/STATUS.md
  apps/web/app/(app)/workbench/page.tsx
  apps/web/app/api/build/start/route.ts
  apps/web/lib/build-orchestrator.ts
Owners: @DockeryAI/buildrunner-admins

feat: Auto-generate simple PRD from prompt - brainstorm optional
  .buildrunner/STATUS.md
  apps/web/app/(app)/workbench/page.tsx
  apps/web/app/api/build/start/route.ts
  apps/web/lib/build-orchestrator.ts
Owners: @DockeryAI/buildrunner-admins

docs: Add comprehensive Design System Upgrade Plan
  .buildrunner/STATUS.md
  apps/web/docs/DESIGN_SYSTEM_UPGRADE.md
Owners: @DockeryAI/buildrunner-admins

feat: Implement Phase 1 Design System Upgrade
  .buildrunner/STATUS.md
  apps/web/lib/ai-component-generator.ts
  apps/web/lib/design-presets.ts
  apps/web/lib/design-system-generator.ts
  apps/web/lib/file-writer.ts
Owners: @DockeryAI/buildrunner-admins

feat: Implement Programmatic Design Generation System
  .buildrunner/STATUS.md
  apps/web/lib/component-designer.ts
  apps/web/lib/design-intelligence.ts
  apps/web/lib/design-polisher.ts
Owners: @DockeryAI/buildrunner-admins

fix: Auto-generate lib files for Supabase and Firebase dependencies
  .buildrunner/STATUS.md
  apps/web/lib/file-writer.ts
Owners: @DockeryAI/buildrunner-admins

feat: Implement professional design system with premium color palettes
  .buildrunner/STATUS.md
  apps/web/lib/advanced-design-system.ts
  apps/web/lib/component-designer.ts
  apps/web/lib/file-writer.ts
  apps/web/lib/hero-generator.ts
Owners: @DockeryAI/buildrunner-admins

feat: Add server health check before opening preview
  .buildrunner/STATUS.md
  apps/web/app/(app)/workbench/page.tsx
Owners: @DockeryAI/buildrunner-admins

feat: Integrate Catalyst UI component system for premium quality
  .buildrunner/STATUS.md
  apps/web/lib/catalyst/integrator.ts
  apps/web/lib/catalyst/mapper.ts
  apps/web/lib/catalyst/patterns.ts
  apps/web/lib/catalyst/registry.ts
  apps/web/lib/component-designer.ts
Owners: @DockeryAI/buildrunner-admins

feat: Configure Tailwind with premium animation library
  .buildrunner/STATUS.md
  apps/web/tailwind.config.js
Owners: @DockeryAI/buildrunner-admins

feat: Complete Catalyst UI integration in build orchestrator
  .buildrunner/STATUS.md
  apps/web/lib/ai-component-generator.ts
Owners: @DockeryAI/buildrunner-admins

feat: Add Catalyst UI components to components directory
  .buildrunner/STATUS.md
  apps/web/components/catalyst/alert.tsx
  apps/web/components/catalyst/auth-layout.tsx
  apps/web/components/catalyst/avatar.tsx
  apps/web/components/catalyst/badge.tsx
  apps/web/components/catalyst/button.tsx
  apps/web/components/catalyst/checkbox.tsx
  apps/web/components/catalyst/combobox.tsx
  apps/web/components/catalyst/description-list.tsx
  apps/web/components/catalyst/dialog.tsx
  apps/web/components/catalyst/divider.tsx
  apps/web/components/catalyst/dropdown.tsx
  apps/web/components/catalyst/fieldset.tsx
  apps/web/components/catalyst/heading.tsx
  apps/web/components/catalyst/input.tsx
  apps/web/components/catalyst/link.tsx
  apps/web/components/catalyst/listbox.tsx
  apps/web/components/catalyst/navbar.tsx
  apps/web/components/catalyst/pagination.tsx
  apps/web/components/catalyst/radio.tsx
  apps/web/components/catalyst/select.tsx
  apps/web/components/catalyst/sidebar-layout.tsx
  apps/web/components/catalyst/sidebar.tsx
  apps/web/components/catalyst/stacked-layout.tsx
  apps/web/components/catalyst/switch.tsx
  apps/web/components/catalyst/table.tsx
  apps/web/components/catalyst/text.tsx
  apps/web/components/catalyst/textarea.tsx
Owners: @DockeryAI/buildrunner-admins

feat: Integrate 3-stage design quality pipeline into BuildOrchestrator
  .buildrunner/STATUS.md
  apps/web/lib/build-orchestrator.ts
Owners: @DockeryAI/buildrunner-admins

fix: DesignPolisher code extraction - remove explanatory text
  .buildrunner/STATUS.md
  apps/web/lib/design-polisher.ts
Owners: @DockeryAI/buildrunner-admins

feat: Add comprehensive design system features to build plan
  .buildrunner/STATUS.md
  .buildrunner/features.json
Owners: @DockeryAI/buildrunner-admins

feat: Implement Design Token Injection System (CRITICAL FIX)
  .buildrunner/STATUS.md
  apps/web/lib/build-orchestrator.ts
  apps/web/lib/design-token-injector.ts
Owners: @DockeryAI/buildrunner-admins

feat: Mark design-token-injection as complete in build plan
  .buildrunner/STATUS.md
  .buildrunner/features.json
Owners: @DockeryAI/buildrunner-admins

fix: Use semantic design tokens instead of arbitrary hex values
  .buildrunner/STATUS.md
  apps/web/lib/ai-component-generator.ts
Owners: @DockeryAI/buildrunner-admins

fix: Improve outdoor industry detection and color schemes
  .buildrunner/STATUS.md
  apps/web/lib/design-intelligence.ts
Owners: @DockeryAI/buildrunner-admins

feat: Universal design system with comprehensive design principles
  .buildrunner/STATUS.md
  apps/web/lib/design-intelligence.ts
Owners: @DockeryAI/buildrunner-admins

feat: Add Intelligent Design System to build plan
  .buildrunner/STATUS.md
  .buildrunner/features.json
Owners: @DockeryAI/buildrunner-admins

feat: Implement Intelligent Design System with multi-dimensional profiling
  .buildrunner/STATUS.md
  apps/web/app/(app)/admin/design-profiles/page.tsx
  apps/web/lib/build-orchestrator.ts
  apps/web/lib/design-intelligence/continuous-learning.ts
  apps/web/lib/design-intelligence/embeddings.ts
  apps/web/lib/design-intelligence/learning-engine.ts
  apps/web/lib/design-intelligence/profile-detector.ts
  apps/web/lib/design-intelligence/types.ts
  docs/intelligent_design_quickstart.md
  docs/intelligent_design_system.md
  supabase/migrations/20251105000001_design-profiles.sql
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/database-admins, @DockeryAI/tech-leads

chore: Add openai package for design intelligence embeddings
  .buildrunner/STATUS.md
  apps/web/package-lock.json
  apps/web/package.json
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads

feat: Add graceful degradation for OpenAI embeddings
  .buildrunner/STATUS.md
  apps/web/lib/design-intelligence/embeddings.ts
  apps/web/lib/design-intelligence/profile-detector.ts
Owners: @DockeryAI/buildrunner-admins

fix: Integrate DesignProfileDetector with BuildOrchestrator API key
  .buildrunner/STATUS.md
  apps/web/lib/build-orchestrator.ts
  apps/web/lib/design-intelligence/continuous-learning.ts
  apps/web/lib/design-intelligence/profile-detector.ts
Owners: @DockeryAI/buildrunner-admins

fix: Use OpenRouter API directly instead of Anthropic SDK
  .buildrunner/STATUS.md
  apps/web/lib/design-intelligence/profile-detector.ts
Owners: @DockeryAI/buildrunner-admins

fix: Correct OpenRouter model names to resolve 401 authentication errors
  .buildrunner/STATUS.md
  apps/web/app/api/prd/generate-plan/route.ts
  apps/web/lib/ai-component-generator.ts
Owners: @DockeryAI/buildrunner-admins

fix: Remove generic PRD auto-fill and improve app ideas refresh UX
  .buildrunner/STATUS.md
  apps/web/app/(app)/create/page.tsx
Owners: @DockeryAI/buildrunner-admins

.github/CODEOWNERS:

# BuildRunner SaaS Code Owners
# This file defines who must review changes to specific files and directories
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (fallback for any file not specifically covered)
* @DockeryAI/buildrunner-admins

# Core BuildRunner specifications and state
/buildrunner/specs/plan.json @DockeryAI/product-owners @DockeryAI/tech-leads
/buildrunner/state/runner_state.json @DockeryAI/tech-leads @DockeryAI/buildrunner-admins

# Database migrations and schema changes
/supabase/migrations/ @DockeryAI/database-admins @DockeryAI/tech-leads
/supabase/config.toml @DockeryAI/database-admins
/supabase/seed.sql @DockeryAI/database-admins

# CI/CD and workflow configurations
/.github/workflows/ @DockeryAI/devops-leads @DockeryAI/tech-leads
/.github/CODEOWNERS @DockeryAI/buildrunner-admins
/.github/pull_request_template.md @DockeryAI/buildrunner-admins

# Governance and security policies
/governance/ @DockeryAI/security-leads @DockeryAI/buildrunner-admins
/governance/policy.yml @DockeryAI/security-leads @DockeryAI/tech-leads @DockeryAI/product-owners

# Security-sensitive files
/apps/server/lib/vault.ts @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/lib/security.ts @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/lib/audit.ts @DockeryAI/security-leads @DockeryAI/tech-leads

# Package management and dependencies
/package.json @DockeryAI/tech-leads @DockeryAI/security-leads
/package-lock.json @DockeryAI/tech-leads
/apps/web/package.json @DockeryAI/tech-leads
/apps/server/package.json @DockeryAI/tech-leads

# Infrastructure and deployment
/docker-compose.yml @DockeryAI/devops-leads @DockeryAI/tech-leads
/Dockerfile @DockeryAI/devops-leads
/.env.example @DockeryAI/devops-leads @DockeryAI/security-leads

# QA and testing configurations
/qa/ @DockeryAI/qa-leads @DockeryAI/tech-leads
/qa-runner.ts @DockeryAI/qa-leads @DockeryAI/tech-leads
/.github/workflows/qa-run.yml @DockeryAI/qa-leads @DockeryAI/devops-leads

# Documentation that affects governance
/README.md @DockeryAI/tech-leads @DockeryAI/product-owners
/CONTRIBUTING.md @DockeryAI/buildrunner-admins
/SECURITY.md @DockeryAI/security-leads @DockeryAI/buildrunner-admins

# API routes that handle sensitive operations
/apps/web/app/api/governance/ @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/app/api/audit/ @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/app/api/plans/ @DockeryAI/product-owners @DockeryAI/tech-leads

# Core business logic
/apps/web/lib/flow.ts @DockeryAI/product-owners @DockeryAI/tech-leads
/apps/web/lib/timeline.ts @DockeryAI/product-owners @DockeryAI/tech-leads
/apps/web/lib/approval.ts @DockeryAI/product-owners @DockeryAI/security-leads
