Repository DockeryAI/BuildRunnerSaaS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DockeryAI/buildrunner-admins, @DockeryAI/product-owners, @DockeryAI/tech-leads, @DockeryAI/database-admins, @DockeryAI/devops-leads, @DockeryAI/security-leads, @DockeryAI/qa-leads

p8.s1.ms1-3: Template schema, storage helpers, Zod validation + import UI foundation
  .runner/auggie-sync.log
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/css/app/layout.css
  apps/web/.next/static/webpack/610b8818f53d977d.webpack.hot-update.json
  apps/web/.next/static/webpack/702a3a0908f8f77f.webpack.hot-update.json
  apps/web/.next/static/webpack/a5a8b32297d9da4c.webpack.hot-update.json
  apps/web/.next/static/webpack/app/layout.610b8818f53d977d.hot-update.js
  apps/web/.next/static/webpack/app/layout.702a3a0908f8f77f.hot-update.js
  apps/web/.next/static/webpack/app/layout.a5a8b32297d9da4c.hot-update.js
  apps/web/.next/static/webpack/webpack.610b8818f53d977d.hot-update.js
  apps/web/.next/static/webpack/webpack.702a3a0908f8f77f.hot-update.js
  apps/web/.next/static/webpack/webpack.a5a8b32297d9da4c.hot-update.js
  apps/web/app/(app)/templates/import/page.tsx
  apps/web/components/templates/ImportPanel.tsx
  apps/web/lib/templates/schemas.ts
  apps/web/lib/templates/storage.ts
  supabase/migrations/20251031000001_Phase8-templates.sql
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/database-admins, @DockeryAI/tech-leads

p8.s2.ms2: Merge engine with namespacing + dry-run/apply API endpoints + DiffPreview component
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/6.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/css/app/layout.css
  apps/web/.next/static/webpack/42fc21691a425a75.webpack.hot-update.json
  apps/web/.next/static/webpack/666acbf11f03f9fa.webpack.hot-update.json
  apps/web/.next/static/webpack/89329e5aad9f4520.webpack.hot-update.json
  apps/web/.next/static/webpack/8e65c6bea379a4d0.webpack.hot-update.json
  apps/web/.next/static/webpack/a605a7114a815b8c.webpack.hot-update.json
  apps/web/.next/static/webpack/app/layout.42fc21691a425a75.hot-update.js
  apps/web/.next/static/webpack/app/layout.666acbf11f03f9fa.hot-update.js
  apps/web/.next/static/webpack/app/layout.89329e5aad9f4520.hot-update.js
  apps/web/.next/static/webpack/app/layout.8e65c6bea379a4d0.hot-update.js
  apps/web/.next/static/webpack/app/layout.a605a7114a815b8c.hot-update.js
  apps/web/.next/static/webpack/app/layout.f8c855c8f3adf913.hot-update.js
  apps/web/.next/static/webpack/f8c855c8f3adf913.webpack.hot-update.json
  apps/web/.next/static/webpack/webpack.42fc21691a425a75.hot-update.js
  apps/web/.next/static/webpack/webpack.666acbf11f03f9fa.hot-update.js
  apps/web/.next/static/webpack/webpack.89329e5aad9f4520.hot-update.js
  apps/web/.next/static/webpack/webpack.8e65c6bea379a4d0.hot-update.js
  apps/web/.next/static/webpack/webpack.a605a7114a815b8c.hot-update.js
  apps/web/.next/static/webpack/webpack.f8c855c8f3adf913.hot-update.js
  apps/web/app/api/templates/merge/apply/route.ts
  apps/web/app/api/templates/merge/dry-run/route.ts
  apps/web/components/templates/DiffPreview.tsx
  apps/web/lib/templates/merge.ts
Owners: @DockeryAI/buildrunner-admins

p8.s3.ms2 + p8.s4.ms2: Built-in packs library + marketplace browse with TemplateCard
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/6.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/static/chunks/app/(app)/layout.js
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/css/app/layout.css
  apps/web/.next/static/webpack/38d7c490b8797a39.webpack.hot-update.json
  apps/web/.next/static/webpack/983ff142371b4cd3.webpack.hot-update.json
  apps/web/.next/static/webpack/app/(app)/layout.38d7c490b8797a39.hot-update.js
  apps/web/.next/static/webpack/app/(app)/layout.f8e90332ddad1607.hot-update.js
  apps/web/.next/static/webpack/app/layout.38d7c490b8797a39.hot-update.js
  apps/web/.next/static/webpack/app/layout.983ff142371b4cd3.hot-update.js
  apps/web/.next/static/webpack/app/layout.c8a14ac3bd92f45b.hot-update.js
  apps/web/.next/static/webpack/app/layout.f8e90332ddad1607.hot-update.js
  apps/web/.next/static/webpack/c8a14ac3bd92f45b.webpack.hot-update.json
  apps/web/.next/static/webpack/f8e90332ddad1607.webpack.hot-update.json
  apps/web/.next/static/webpack/webpack.38d7c490b8797a39.hot-update.js
  apps/web/.next/static/webpack/webpack.983ff142371b4cd3.hot-update.js
  apps/web/.next/static/webpack/webpack.c8a14ac3bd92f45b.hot-update.js
  apps/web/.next/static/webpack/webpack.f8e90332ddad1607.hot-update.js
  apps/web/app/(app)/layout.tsx
  apps/web/app/(app)/templates/page.tsx
  apps/web/components/templates/TemplateCard.tsx
  apps/web/lib/templates/packs.ts
Owners: @DockeryAI/buildrunner-admins

p8.s6.ms2: Complete Phase 8 Templates & Marketplace with API endpoints + plan.json update to v0.8.0
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/5.pack.gz
  apps/web/.next/cache/webpack/client-development/6.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/72bcac486b0368e8.webpack.hot-update.json
  apps/web/.next/static/webpack/8755654747ae9681.webpack.hot-update.json
  apps/web/.next/static/webpack/app/layout.72bcac486b0368e8.hot-update.js
  apps/web/.next/static/webpack/app/layout.8755654747ae9681.hot-update.js
  apps/web/.next/static/webpack/app/layout.c3543d5605cd1bd6.hot-update.js
  apps/web/.next/static/webpack/c3543d5605cd1bd6.webpack.hot-update.json
  apps/web/.next/static/webpack/webpack.72bcac486b0368e8.hot-update.js
  apps/web/.next/static/webpack/webpack.8755654747ae9681.hot-update.js
  apps/web/.next/static/webpack/webpack.c3543d5605cd1bd6.hot-update.js
  apps/web/app/api/templates/packs/route.ts
  apps/web/app/api/templates/route.ts
  buildrunner/specs/plan.json
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/product-owners, @DockeryAI/tech-leads

p9.s1.ms1-3 + p9.s2.ms1-3: Analytics schema + storage + collectors + anomaly detection
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/app/(app)/flow/page.js
  apps/web/.next/server/app/(app)/reconcile/page.js
  apps/web/.next/server/app/(app)/reconcile/page_client-reference-manifest.js
  apps/web/.next/server/app/(app)/settings/page.js
  apps/web/.next/server/app/(app)/settings/page_client-reference-manifest.js
  apps/web/.next/server/app/(app)/tests/page.js
  apps/web/.next/server/app/(app)/tests/page_client-reference-manifest.js
  apps/web/.next/server/app/(app)/timeline/page.js
  apps/web/.next/server/vendor-chunks/lucide-react.js
  apps/web/.next/server/vendor-chunks/zod.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/static/chunks/app/(app)/reconcile/page.js
  apps/web/.next/static/chunks/app/(app)/settings/page.js
  apps/web/.next/static/chunks/app/(app)/tests/page.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/67f53665769e3182.webpack.hot-update.json
  apps/web/.next/static/webpack/8cbdb276e229624a.webpack.hot-update.json
  apps/web/.next/static/webpack/app/layout.67f53665769e3182.hot-update.js
  apps/web/.next/static/webpack/app/layout.ba3e5fa926a19b43.hot-update.js
  apps/web/.next/static/webpack/ba3e5fa926a19b43.webpack.hot-update.json
  apps/web/.next/static/webpack/webpack.67f53665769e3182.hot-update.js
  apps/web/.next/static/webpack/webpack.8cbdb276e229624a.hot-update.js
  apps/web/.next/static/webpack/webpack.ba3e5fa926a19b43.hot-update.js
  apps/web/.next/types/app/(app)/reconcile/page.ts
  apps/web/.next/types/app/(app)/settings/page.ts
  apps/web/.next/types/app/(app)/tests/page.ts
  apps/web/lib/analytics/anomaly.ts
  apps/web/lib/analytics/collector.ts
  apps/web/lib/analytics/storage.ts
  supabase/functions/usage-collector/index.ts
  supabase/migrations/20251031000002_Phase9-analytics.sql
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/database-admins, @DockeryAI/tech-leads

p9.s4.ms1-2 + p9.s5.ms1-2 + p9.s6.ms1-2: Complete Phase 9 Analytics & Cost Monitoring with exports, governance, and plan update to v0.9.0
  .runner/auggie-sync.log
  README.md
  apps/web/.next/cache/webpack/client-development/6.pack.gz
  apps/web/.next/cache/webpack/client-development/7.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/app/layout.b2b247849b3a8d29.hot-update.js
  apps/web/.next/static/webpack/app/layout.e138bf772007add4.hot-update.js
  apps/web/.next/static/webpack/app/layout.f79f3660aceab04a.hot-update.js
  apps/web/.next/static/webpack/b2b247849b3a8d29.webpack.hot-update.json
  apps/web/.next/static/webpack/e138bf772007add4.webpack.hot-update.json
  apps/web/.next/static/webpack/f79f3660aceab04a.webpack.hot-update.json
  apps/web/.next/static/webpack/webpack.b2b247849b3a8d29.hot-update.js
  apps/web/.next/static/webpack/webpack.e138bf772007add4.hot-update.js
  apps/web/.next/static/webpack/webpack.f79f3660aceab04a.hot-update.js
  apps/web/app/api/analytics/export/route.ts
  buildrunner/governance/policy.yml
  buildrunner/specs/plan.json
  supabase/functions/report-scheduler/index.ts
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads, @DockeryAI/product-owners

p11.s1.ms1-2: SQL schema + server lib for explainability & multi-model data
  .runner/auggie-sync.log
  apps/web/lib/models/storage.ts
  supabase/migrations/20251031000004_Phase11-models.sql
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/database-admins, @DockeryAI/tech-leads

p11.s2.ms1-3 + p11.s3.ms1-2: Explain API/UI + teach-me walkthrough + rescope patch preview & validation
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/1.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/css/app/layout.css
  apps/web/.next/static/webpack/05ce4d35a77b29a4.webpack.hot-update.json
  apps/web/.next/static/webpack/181ecba2ab373108.webpack.hot-update.json
  apps/web/.next/static/webpack/1f20ebda3bd76625.webpack.hot-update.json
  apps/web/.next/static/webpack/3f626a1648de04ce.webpack.hot-update.json
  apps/web/.next/static/webpack/63ab0b7d4252ec47.webpack.hot-update.json
  apps/web/.next/static/webpack/8f98e14e96bfa2eb.webpack.hot-update.json
  apps/web/.next/static/webpack/app/layout.05ce4d35a77b29a4.hot-update.js
  apps/web/.next/static/webpack/app/layout.181ecba2ab373108.hot-update.js
  apps/web/.next/static/webpack/app/layout.1f20ebda3bd76625.hot-update.js
  apps/web/.next/static/webpack/app/layout.3f626a1648de04ce.hot-update.js
  apps/web/.next/static/webpack/app/layout.63ab0b7d4252ec47.hot-update.js
  apps/web/.next/static/webpack/app/layout.8f98e14e96bfa2eb.hot-update.js
  apps/web/.next/static/webpack/app/layout.d0997b178883505f.hot-update.js
  apps/web/.next/static/webpack/app/layout.feb7b4264866c06b.hot-update.js
  apps/web/.next/static/webpack/d0997b178883505f.webpack.hot-update.json
  apps/web/.next/static/webpack/feb7b4264866c06b.webpack.hot-update.json
  apps/web/.next/static/webpack/webpack.05ce4d35a77b29a4.hot-update.js
  apps/web/.next/static/webpack/webpack.181ecba2ab373108.hot-update.js
  apps/web/.next/static/webpack/webpack.1f20ebda3bd76625.hot-update.js
  apps/web/.next/static/webpack/webpack.3f626a1648de04ce.hot-update.js
  apps/web/.next/static/webpack/webpack.63ab0b7d4252ec47.hot-update.js
  apps/web/.next/static/webpack/webpack.8f98e14e96bfa2eb.hot-update.js
  apps/web/.next/static/webpack/webpack.d0997b178883505f.hot-update.js
  apps/web/.next/static/webpack/webpack.feb7b4264866c06b.hot-update.js
  apps/web/app/(app)/explain/page.tsx
  apps/web/app/api/explain/route.ts
  apps/web/components/explain/ExplainButton.tsx
  apps/web/components/explain/ExplainModal.tsx
  apps/web/components/rescope/PatchPreview.tsx
  apps/web/lib/rescope/validator.ts
Owners: @DockeryAI/buildrunner-admins

p11.s4.ms1-3 + p11.s5.ms1-3 + p11.s6.ms1-2 + p11.s7.ms1-2: Complete Phase 11 Explainability & Multi-Model with router, arbitration, and performance analytics - v1.1.0
  .runner/auggie-sync.log
  README.md
  apps/web/.next/cache/webpack/client-development/1.pack.gz
  apps/web/.next/cache/webpack/client-development/2.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/css/app/layout.css
  apps/web/.next/static/webpack/05b0c05196b7f9b8.webpack.hot-update.json
  apps/web/.next/static/webpack/1985a566c5f6f069.webpack.hot-update.json
  apps/web/.next/static/webpack/aa94c31b05a4577b.webpack.hot-update.json
  apps/web/.next/static/webpack/app/layout.05b0c05196b7f9b8.hot-update.js
  apps/web/.next/static/webpack/app/layout.1985a566c5f6f069.hot-update.js
  apps/web/.next/static/webpack/app/layout.aa94c31b05a4577b.hot-update.js
  apps/web/.next/static/webpack/webpack.05b0c05196b7f9b8.hot-update.js
  apps/web/.next/static/webpack/webpack.1985a566c5f6f069.hot-update.js
  apps/web/.next/static/webpack/webpack.aa94c31b05a4577b.hot-update.js
  apps/web/app/(app)/models/compare/page.tsx
  apps/web/app/(app)/settings/models/page.tsx
  apps/web/lib/models/router.ts
  buildrunner/specs/plan.json
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads, @DockeryAI/product-owners

p12.s1.ms1-3: VPC/docker compose baseline + env templates + terraform skeleton for private cloud deployment
  .runner/auggie-sync.log
  deploy/docker/.env.example
  deploy/docker/docker-compose.yml
  deploy/terraform/main.tf
  deploy/terraform/outputs.tf
  deploy/terraform/variables.tf
Owners: @DockeryAI/buildrunner-admins

p12.s2.ms1-4 + p12.s3.ms1-3 + p12.s4.ms1-3 + p12.s5.ms1-2 + p12.s6.ms1-2: Complete Phase 12 Enterprise & Compliance with SSO, audit, key rotation, and enterprise docs - v1.2.0
  .runner/auggie-sync.log
  README.md
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/1.pack.gz
  apps/web/.next/cache/webpack/client-development/2.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/039ef6fb006e11aa.webpack.hot-update.json
  apps/web/.next/static/webpack/1fe42b123a6abd62.webpack.hot-update.json
  apps/web/.next/static/webpack/9f5f09dc8d98a634.webpack.hot-update.json
  apps/web/.next/static/webpack/app/layout.039ef6fb006e11aa.hot-update.js
  apps/web/.next/static/webpack/app/layout.1fe42b123a6abd62.hot-update.js
  apps/web/.next/static/webpack/app/layout.9f5f09dc8d98a634.hot-update.js
  apps/web/.next/static/webpack/app/layout.f69ba23b01301356.hot-update.js
  apps/web/.next/static/webpack/f69ba23b01301356.webpack.hot-update.json
  apps/web/.next/static/webpack/webpack.039ef6fb006e11aa.hot-update.js
  apps/web/.next/static/webpack/webpack.1fe42b123a6abd62.hot-update.js
  apps/web/.next/static/webpack/webpack.9f5f09dc8d98a634.hot-update.js
  apps/web/.next/static/webpack/webpack.f69ba23b01301356.hot-update.js
  apps/web/app/(app)/settings/security/page.tsx
  apps/web/app/api/sso/oidc/callback/route.ts
  apps/web/app/api/sso/oidc/start/route.ts
  apps/web/lib/sso/oidc.ts
  buildrunner/specs/plan.json
  docs/enterprise.md
  scripts/rotate-keys.ts
  supabase/migrations/20251031000005_Phase12-enterprise.sql
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads, @DockeryAI/product-owners, @DockeryAI/database-admins

p13.s1.ms1-3: Integration framework schema + registry + policy extension for external integrations
  .runner/auggie-sync.log
  apps/web/lib/integrations/registry.ts
  governance/policy.yml
  supabase/migrations/20251031000006_Phase13-integrations.sql
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/security-leads, @DockeryAI/tech-leads, @DockeryAI/product-owners, @DockeryAI/database-admins

p13.s2.ms1-4 + p13.s3.ms1-4 + p13.s4.ms1-2 + p13.s5.ms1-2: Complete Phase 13 Integrations with Jira/Linear sync, preview environments, webhooks, and comprehensive docs - v1.3.0
  .runner/auggie-sync.log
  README.md
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/1.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/css/app/layout.css
  apps/web/.next/static/webpack/0a9d6e71ac6488c5.webpack.hot-update.json
  apps/web/.next/static/webpack/162fc1a67d5522f4.webpack.hot-update.json
  apps/web/.next/static/webpack/43c8c9d7ef7aec34.webpack.hot-update.json
  apps/web/.next/static/webpack/509ee3ee0bf1a45c.webpack.hot-update.json
  apps/web/.next/static/webpack/app/layout.0a9d6e71ac6488c5.hot-update.js
  apps/web/.next/static/webpack/app/layout.162fc1a67d5522f4.hot-update.js
  apps/web/.next/static/webpack/app/layout.43c8c9d7ef7aec34.hot-update.js
  apps/web/.next/static/webpack/app/layout.509ee3ee0bf1a45c.hot-update.js
  apps/web/.next/static/webpack/webpack.0a9d6e71ac6488c5.hot-update.js
  apps/web/.next/static/webpack/webpack.162fc1a67d5522f4.hot-update.js
  apps/web/.next/static/webpack/webpack.43c8c9d7ef7aec34.hot-update.js
  apps/web/.next/static/webpack/webpack.509ee3ee0bf1a45c.hot-update.js
  apps/web/app/(app)/settings/integrations/page.tsx
  apps/web/app/api/integrations/sync/issues/route.ts
  apps/web/app/api/webhooks/jira/route.ts
  apps/web/components/integrations/IssuePanel.tsx
  buildrunner/specs/plan.json
  docs/integrations.md
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads, @DockeryAI/product-owners

p0.s1.ms4: Add brainstorm API routes for localhost:3001 testing with mock OpenRouter service
  apps/web/app/api/brainstorm/chat/route.ts
  apps/web/app/api/brainstorm/config/route.ts
  apps/web/app/api/brainstorm/sync/route.ts
  apps/web/package.json
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads

p0.s1.ms10: Fix import paths for brainstorm components after moving to (app) route group
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/cache/webpack/client-development/4.pack.gz
  apps/web/.next/cache/webpack/client-development/7.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/app/(app)/brainstorm/page.js
  apps/web/.next/server/app/(app)/brainstorm/page_client-reference-manifest.js
  apps/web/.next/server/app/(app)/create/page.js
  apps/web/.next/server/app/(app)/create/page_client-reference-manifest.js
  apps/web/.next/server/app/(app)/plan/page.js
  apps/web/.next/server/app/(app)/plan/page_client-reference-manifest.js
  apps/web/.next/server/app/(app)/settings/api-keys/page_client-reference-manifest.js
  apps/web/.next/server/app/(app)/settings/page_client-reference-manifest.js
  apps/web/.next/server/vendor-chunks/@heroicons.js
  apps/web/.next/server/vendor-chunks/lucide-react.js
  apps/web/.next/server/vendor-chunks/next.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/static/chunks/app/(app)/brainstorm/page.js
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/0746828720a8c490.webpack.hot-update.json
  apps/web/.next/static/webpack/3144a4d78a5146b4.webpack.hot-update.json
  apps/web/.next/static/webpack/64881c45532c0c15.webpack.hot-update.json
  apps/web/.next/static/webpack/68454ae24ce8a687.webpack.hot-update.json
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.64881c45532c0c15.hot-update.js
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.68454ae24ce8a687.hot-update.js
  apps/web/.next/static/webpack/app/layout.64881c45532c0c15.hot-update.js
  apps/web/.next/static/webpack/webpack.0746828720a8c490.hot-update.js
  apps/web/.next/static/webpack/webpack.3144a4d78a5146b4.hot-update.js
  apps/web/.next/static/webpack/webpack.64881c45532c0c15.hot-update.js
  apps/web/.next/static/webpack/webpack.68454ae24ce8a687.hot-update.js
  apps/web/.next/trace
  apps/web/.next/types/app/(app)/brainstorm/page.ts
  apps/web/app/(app)/brainstorm/page.tsx
  apps/web/lib/brainstorm/state.ts
  buildrunner/specs/plan.json
  buildrunner/state/runner_state.json
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/product-owners, @DockeryAI/tech-leads

p0.s1.ms11: Fix TargetIcon import error - replace with BullseyeIcon
  .runner/auggie-sync.log
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/app/(app)/brainstorm/page.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/static/chunks/app/(app)/brainstorm/page.js
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/4d6376392ec64b28.webpack.hot-update.json
  apps/web/.next/static/webpack/5fa45c7427905861.webpack.hot-update.json
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.4d6376392ec64b28.hot-update.js
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.5fa45c7427905861.hot-update.js
  apps/web/.next/static/webpack/app/layout.4d6376392ec64b28.hot-update.js
  apps/web/.next/static/webpack/app/layout.5fa45c7427905861.hot-update.js
  apps/web/.next/static/webpack/webpack.4d6376392ec64b28.hot-update.js
  apps/web/.next/static/webpack/webpack.5fa45c7427905861.hot-update.js
  apps/web/.next/trace
  apps/web/app/(app)/brainstorm/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms12: Fix all icon import issues - replace TargetIcon and BullseyeIcon with BeakerIcon
  .runner/auggie-sync.log
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/app/(app)/brainstorm/page.js
  apps/web/.next/server/app/api/brainstorm/config/route.js
  apps/web/.next/server/vendor-chunks/@heroicons.js
  apps/web/.next/server/vendor-chunks/next.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/static/chunks/app/(app)/brainstorm/page.js
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/01c98647105d3313.webpack.hot-update.json
  apps/web/.next/static/webpack/0ec6064980eada1a.webpack.hot-update.json
  apps/web/.next/static/webpack/a210d3042c0e576f.webpack.hot-update.json
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.01c98647105d3313.hot-update.js
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.0ec6064980eada1a.hot-update.js
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.a210d3042c0e576f.hot-update.js
  apps/web/.next/static/webpack/app/layout.01c98647105d3313.hot-update.js
  apps/web/.next/static/webpack/app/layout.0ec6064980eada1a.hot-update.js
  apps/web/.next/static/webpack/app/layout.a210d3042c0e576f.hot-update.js
  apps/web/.next/static/webpack/webpack.01c98647105d3313.hot-update.js
  apps/web/.next/static/webpack/webpack.0ec6064980eada1a.hot-update.js
  apps/web/.next/static/webpack/webpack.a210d3042c0e576f.hot-update.js
  apps/web/.next/trace
  apps/web/.next/types/app/api/brainstorm/config/route.ts
  apps/web/app/(app)/brainstorm/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms18: Add timestamp validation and corrupted data cleanup
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/app/(app)/brainstorm/page.js
  apps/web/.next/server/app/(app)/brainstorm/page_client-reference-manifest.js
  apps/web/.next/server/vendor-chunks/next.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/static/chunks/app/(app)/brainstorm/page.js
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/7d19d5d03c495272.webpack.hot-update.json
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.7d19d5d03c495272.hot-update.js
  apps/web/.next/static/webpack/app/layout.7d19d5d03c495272.hot-update.js
  apps/web/.next/static/webpack/webpack.7d19d5d03c495272.hot-update.js
  apps/web/.next/trace
  apps/web/app/(app)/brainstorm/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms21: Add debug clear button and more thorough session data clearing
  .runner/auggie-sync.log
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/app/(app)/brainstorm/page.js
  apps/web/.next/server/vendor-chunks/next.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/static/chunks/app/(app)/brainstorm/page.js
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/css/app/layout.css
  apps/web/.next/static/webpack/2b3ed9641a98beac.webpack.hot-update.json
  apps/web/.next/static/webpack/ae43d1e8a3396f7b.webpack.hot-update.json
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.2b3ed9641a98beac.hot-update.js
  apps/web/.next/static/webpack/app/(app)/brainstorm/page.ae43d1e8a3396f7b.hot-update.js
  apps/web/.next/static/webpack/app/layout.2b3ed9641a98beac.hot-update.js
  apps/web/.next/static/webpack/app/layout.ae43d1e8a3396f7b.hot-update.js
  apps/web/.next/static/webpack/webpack.2b3ed9641a98beac.hot-update.js
  apps/web/.next/static/webpack/webpack.ae43d1e8a3396f7b.hot-update.js
  apps/web/.next/trace
  apps/web/app/(app)/brainstorm/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms23: Remove old brainstorm page and update navigation - Create is now the main brainstorming interface
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/app/(app)/create/page.js
  apps/web/.next/server/app/(app)/settings/api-keys/page.js
  apps/web/.next/server/vendor-chunks/@heroicons.js
  apps/web/.next/server/vendor-chunks/lucide-react.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/static/chunks/app/(app)/layout.js
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/65b67787c1b3287c.webpack.hot-update.json
  apps/web/.next/static/webpack/app/(app)/layout.65b67787c1b3287c.hot-update.js
  apps/web/.next/static/webpack/app/layout.65b67787c1b3287c.hot-update.js
  apps/web/.next/static/webpack/app/layout.c21699243ff5a10a.hot-update.js
  apps/web/.next/static/webpack/c21699243ff5a10a.webpack.hot-update.json
  apps/web/.next/static/webpack/d7267dc4601cfefd.webpack.hot-update.json
  apps/web/.next/static/webpack/main.d7267dc4601cfefd.hot-update.js
  apps/web/.next/static/webpack/webpack.65b67787c1b3287c.hot-update.js
  apps/web/.next/static/webpack/webpack.c21699243ff5a10a.hot-update.js
  apps/web/.next/static/webpack/webpack.d7267dc4601cfefd.hot-update.js
  apps/web/.next/trace
  apps/web/app/(app)/brainstorm/page.tsx
  apps/web/app/(app)/layout.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms25: Implement complete interactive brainstorming interface with chat, suggestions panel, and category tabs
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/cache/webpack/client-development/13.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/cache/webpack/server-development/0.pack.gz
  apps/web/.next/cache/webpack/server-development/1.pack.gz
  apps/web/.next/cache/webpack/server-development/10.pack.gz
  apps/web/.next/cache/webpack/server-development/12.pack.gz
  apps/web/.next/cache/webpack/server-development/2.pack.gz
  apps/web/.next/cache/webpack/server-development/3.pack.gz
  apps/web/.next/cache/webpack/server-development/4.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/app/(app)/create/page.js
  apps/web/.next/server/app/(app)/create/page_client-reference-manifest.js
  apps/web/.next/server/app/(app)/settings/api-keys/page.js
  apps/web/.next/server/app/(app)/settings/api-keys/page_client-reference-manifest.js
  apps/web/.next/server/app/(app)/settings/page_client-reference-manifest.js
  apps/web/.next/server/app/api/brainstorm/chat/route.js
  apps/web/.next/server/vendor-chunks/@heroicons.js
  apps/web/.next/server/vendor-chunks/next.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/static/chunks/app/(app)/create/page.js
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/webpack/407d05eda3d3bd0f.webpack.hot-update.json
  apps/web/.next/static/webpack/af5d8bb41031be4c.webpack.hot-update.json
  apps/web/.next/static/webpack/app/(app)/create/page.af5d8bb41031be4c.hot-update.js
  apps/web/.next/static/webpack/app/layout.af5d8bb41031be4c.hot-update.js
  apps/web/.next/static/webpack/webpack.407d05eda3d3bd0f.hot-update.js
  apps/web/.next/static/webpack/webpack.af5d8bb41031be4c.hot-update.js
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms28: Complete redesign of brainstorming interface - beautiful 3-column layout with PRD document, fixed navigation overlaps, professional design
  .gitignore
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/build-manifest.json
  apps/web/.next/cache/webpack/client-development-fallback/index.pack.gz
  apps/web/.next/cache/webpack/client-development/2.pack.gz
  apps/web/.next/cache/webpack/client-development/3.pack.gz
  apps/web/.next/cache/webpack/client-development/4.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/cache/webpack/server-development/1.pack.gz
  apps/web/.next/cache/webpack/server-development/2.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/app/_not-found_client-reference-manifest.js
  apps/web/.next/server/app/not-found.js
  apps/web/.next/server/app/not-found_client-reference-manifest.js
  apps/web/.next/server/middleware-build-manifest.js
  apps/web/.next/server/pages-manifest.json
  apps/web/.next/server/vendor-chunks/@swc.js
  apps/web/.next/server/vendor-chunks/next.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/static/chunks/app/layout.js
  apps/web/.next/static/chunks/webpack.js
  apps/web/.next/static/css/app/layout.css
  apps/web/.next/static/development/_buildManifest.js
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms30: Enhanced AI system prompts to be more specific and contextual - require direct product references and avoid generic responses
  .runner/auggie-sync.log
  apps/web/app/api/brainstorm/chat/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms31: Implement drag-and-drop PRD interface - 2-column layout with draggable AI suggestions that populate PRD sections
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/build-manifest.json
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/cache/webpack/server-development/1.pack.gz
  apps/web/.next/cache/webpack/server-development/3.pack.gz
  apps/web/.next/cache/webpack/server-development/4.pack.gz
  apps/web/.next/cache/webpack/server-development/5.pack.gz
  apps/web/.next/cache/webpack/server-development/6.pack.gz
  apps/web/.next/cache/webpack/server-development/7.pack.gz
  apps/web/.next/cache/webpack/server-development/8.pack.gz
  apps/web/.next/cache/webpack/server-development/9.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/middleware-build-manifest.js
  apps/web/.next/server/next-font-manifest.js
  apps/web/.next/server/next-font-manifest.json
  apps/web/.next/server/vendor-chunks/next.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/components/brainstorm/DraggableSuggestion.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms32: Enhanced UX with AI-generated product descriptions, concise AI responses, and compact expandable suggestion cards for efficient vertical space
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/cache/webpack/server-development/0.pack.gz
  apps/web/.next/cache/webpack/server-development/1.pack.gz
  apps/web/.next/cache/webpack/server-development/10.pack.gz
  apps/web/.next/cache/webpack/server-development/11.pack.gz
  apps/web/.next/cache/webpack/server-development/12.pack.gz
  apps/web/.next/cache/webpack/server-development/3.pack.gz
  apps/web/.next/cache/webpack/server-development/5.pack.gz
  apps/web/.next/cache/webpack/server-development/8.pack.gz
  apps/web/.next/cache/webpack/server-development/9.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/vendor-chunks/next.js
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/app/api/brainstorm/chat/route.ts
  apps/web/components/brainstorm/DraggableSuggestion.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms33: Complete documentation - Product spec, user workflow guide, and comprehensive GitHub update with all features and implementation details
  .runner/auggie-sync.log
  GITHUB_UPDATE.md
  PRODUCT_SPEC.md
  USER_WORKFLOW.md
  apps/web/.next/cache/webpack/client-development/2.pack.gz
  apps/web/.next/cache/webpack/client-development/4.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/cache/webpack/server-development/0.pack.gz
  apps/web/.next/cache/webpack/server-development/1.pack.gz
  apps/web/.next/cache/webpack/server-development/10.pack.gz
  apps/web/.next/cache/webpack/server-development/3.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz.old
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms34: Synchronized all documentation - Updated product spec, user workflow, and GitHub docs with latest UX improvements, compact expandable cards, and AI-generated descriptions
  .runner/auggie-sync.log
  GITHUB_UPDATE.md
  PRODUCT_SPEC.md
  USER_WORKFLOW.md
  apps/web/.next/cache/webpack/server-development/1.pack.gz
  apps/web/.next/cache/webpack/server-development/3.pack.gz
  apps/web/.next/cache/webpack/server-development/5.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/trace
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms35: Final session summary - Complete record of all features implemented, documentation synchronized, and production-ready status achieved
  .runner/auggie-sync.log
  SESSION_SUMMARY.md
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms36: Major AI improvements - GPT-4o integration, initial feature extraction from prompts, detailed suggestion schemas, used suggestion tracking, and enhanced expandable cards
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/server-development/1.pack.gz
  apps/web/.next/cache/webpack/server-development/5.pack.gz
  apps/web/.next/cache/webpack/server-development/6.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/app/api/brainstorm/chat/route.ts
  apps/web/components/brainstorm/DraggableSuggestion.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms37: Final documentation sync - Updated all docs with GPT-4o integration, intelligent feature extraction, smart suggestion management, and enhanced detail schemas
  .runner/auggie-sync.log
  GITHUB_UPDATE.md
  PRODUCT_SPEC.md
  USER_WORKFLOW.md
  apps/web/.next/cache/webpack/client-development/4.pack.gz
  apps/web/.next/cache/webpack/client-development/6.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz.old
  apps/web/.next/cache/webpack/server-development/1.pack.gz
  apps/web/.next/cache/webpack/server-development/6.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz.old
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms38: Final session summary update - Complete record of all AI improvements, feature extraction, and smart suggestion management
  .runner/auggie-sync.log
  SESSION_SUMMARY.md
Owners: @DockeryAI/buildrunner-admins

chore(governance): sync spec & state (Auggie under Build Runner)
  .runner/auggie-sync.log
  .runner/state.json
  .runner/tasks/finalize_stage.sh
  BuildRunnerSaaS
  apps/web/.next/cache/webpack/server-development/5.pack.gz
  apps/web/.next/cache/webpack/server-development/6.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz
  apps/web/.next/cache/webpack/server-development/index.pack.gz.old
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/webpack-runtime.js
  apps/web/.next/trace
  docs/BuildRunnerSaaS-overview.md
  docs/BuildRunnerSaaS-spec.md
  docs/handoff-2025-10-31T19:31:33Z.md
Owners: @DockeryAI/buildrunner-admins

handoff: update spec (2025-10-31T19:31:33Z)
  PRODUCT_SPEC.md
Owners: @DockeryAI/buildrunner-admins

chore(governance): sync spec & state (Auggie under Build Runner)
  .runner/auggie-sync.log
  .runner/scripts/br-auggie.sh
  .runner/state.json
  docs/BuildRunnerSaaS-spec.md
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms40: MAJOR - Implemented complete Build Runner governance system with br-auggie command, automatic documentation sync, task completion tracking, and global project management
  .runner/auggie-governance.md
  .runner/auggie-sync.log
  .runner/governance.md
  .runner/scripts/br-auggie.sh
  .runner/scripts/update-task-completion.sh
  .runner/state.json
  docs/BuildRunnerSaaS-spec.md
Owners: @DockeryAI/buildrunner-admins

handoff: update spec (2025-10-31T19:40:59Z)
  docs/BuildRunnerSaaS-spec.md
Owners: @DockeryAI/buildrunner-admins

chore(governance): sync spec & state (Auggie under Build Runner)
  .runner/auggie-sync.log
  docs/handoff-2025-10-31T19:40:59Z.md
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms41: COMPREHENSIVE UPDATE - Added all 25+ development phases/steps to spec and workflow, enhanced br-handoff with GitHub links and ChatGPT prompts, complete documentation synchronization
  .runner/auggie-sync.log
  .runner/governance.md
  .runner/scripts/enhanced-handoff.sh
  .runner/state.json
  PRODUCT_SPEC.md
  docs/BuildRunnerSaaS-spec.md
  docs/handoff-2025-10-31T19:46:16Z.md
Owners: @DockeryAI/buildrunner-admins

handoff: update spec (2025-10-31T19:46:40Z)
  docs/BuildRunnerSaaS-spec.md
Owners: @DockeryAI/buildrunner-admins

chore(governance): sync spec & state (Auggie under Build Runner)
  .runner/auggie-sync.log
  docs/handoff-2025-10-31T19:46:40Z.md
Owners: @DockeryAI/buildrunner-admins

.github/CODEOWNERS:

# BuildRunner SaaS Code Owners
# This file defines who must review changes to specific files and directories
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (fallback for any file not specifically covered)
* @DockeryAI/buildrunner-admins

# Core BuildRunner specifications and state
/buildrunner/specs/plan.json @DockeryAI/product-owners @DockeryAI/tech-leads
/buildrunner/state/runner_state.json @DockeryAI/tech-leads @DockeryAI/buildrunner-admins

# Database migrations and schema changes
/supabase/migrations/ @DockeryAI/database-admins @DockeryAI/tech-leads
/supabase/config.toml @DockeryAI/database-admins
/supabase/seed.sql @DockeryAI/database-admins

# CI/CD and workflow configurations
/.github/workflows/ @DockeryAI/devops-leads @DockeryAI/tech-leads
/.github/CODEOWNERS @DockeryAI/buildrunner-admins
/.github/pull_request_template.md @DockeryAI/buildrunner-admins

# Governance and security policies
/governance/ @DockeryAI/security-leads @DockeryAI/buildrunner-admins
/governance/policy.yml @DockeryAI/security-leads @DockeryAI/tech-leads @DockeryAI/product-owners

# Security-sensitive files
/apps/server/lib/vault.ts @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/lib/security.ts @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/lib/audit.ts @DockeryAI/security-leads @DockeryAI/tech-leads

# Package management and dependencies
/package.json @DockeryAI/tech-leads @DockeryAI/security-leads
/package-lock.json @DockeryAI/tech-leads
/apps/web/package.json @DockeryAI/tech-leads
/apps/server/package.json @DockeryAI/tech-leads

# Infrastructure and deployment
/docker-compose.yml @DockeryAI/devops-leads @DockeryAI/tech-leads
/Dockerfile @DockeryAI/devops-leads
/.env.example @DockeryAI/devops-leads @DockeryAI/security-leads

# QA and testing configurations
/qa/ @DockeryAI/qa-leads @DockeryAI/tech-leads
/qa-runner.ts @DockeryAI/qa-leads @DockeryAI/tech-leads
/.github/workflows/qa-run.yml @DockeryAI/qa-leads @DockeryAI/devops-leads

# Documentation that affects governance
/README.md @DockeryAI/tech-leads @DockeryAI/product-owners
/CONTRIBUTING.md @DockeryAI/buildrunner-admins
/SECURITY.md @DockeryAI/security-leads @DockeryAI/buildrunner-admins

# API routes that handle sensitive operations
/apps/web/app/api/governance/ @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/app/api/audit/ @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/app/api/plans/ @DockeryAI/product-owners @DockeryAI/tech-leads

# Core business logic
/apps/web/lib/flow.ts @DockeryAI/product-owners @DockeryAI/tech-leads
/apps/web/lib/timeline.ts @DockeryAI/product-owners @DockeryAI/tech-leads
/apps/web/lib/approval.ts @DockeryAI/product-owners @DockeryAI/security-leads
