Repository DockeryAI/BuildRunnerSaaS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DockeryAI/buildrunner-admins, @DockeryAI/product-owners, @DockeryAI/tech-leads, @DockeryAI/database-admins, @DockeryAI/devops-leads, @DockeryAI/security-leads, @DockeryAI/qa-leads

feat: Add complete AI-powered design system roadmap and Supabase integration
  .buildrunner/STATUS.md
  .buildrunner/features.json
  apps/web/app/api/settings/validate-api-key/route.ts
  apps/web/components/ApiKeySetupWizard.tsx
  apps/web/lib/prd-export.ts
Owners: @DockeryAI/buildrunner-admins

feat: Complete Phase 1 - Material Design 3 integration
  .buildrunner/STATUS.md
  apps/web/lib/design-intelligence.ts
  apps/web/lib/material/MaterialPaletteGenerator.ts
  apps/web/lib/material/MaterialThemeAdapter.ts
  apps/web/lib/material/README.md
  apps/web/lib/material/index.ts
  apps/web/package-lock.json
  apps/web/package.json
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads

feat: Complete Phase 2 - Claude CLI Design Adapter
  .buildrunner/STATUS.md
  apps/web/app/api/claude-builder/export-prd/route.ts
  apps/web/lib/claude-design-adapter.ts
Owners: @DockeryAI/buildrunner-admins

fix: Resolve TypeScript interface compatibility issues
  .buildrunner/STATUS.md
  apps/web/lib/design-system-generator.ts
  apps/web/lib/material/MaterialPaletteGenerator.ts
Owners: @DockeryAI/buildrunner-admins

feat: Archive both project directories and push to GitHub before deletion
  .buildrunner/STATUS.md
  apps/web/app/api/build/cleanup/route.ts
  apps/web/lib/project-archive.ts
Owners: @DockeryAI/buildrunner-admins

fix: Add better error handling for missing project plan milestones
  .buildrunner/STATUS.md
  apps/web/app/(app)/plan/page.tsx
Owners: @DockeryAI/buildrunner-admins

debug: Add plan structure logging to diagnose missing content
  .buildrunner/STATUS.md
  apps/web/app/(app)/plan/page.tsx
Owners: @DockeryAI/buildrunner-admins

fix: Convert old plan format to new format for proper display
  .buildrunner/STATUS.md
  apps/web/app/(app)/plan/page.tsx
Owners: @DockeryAI/buildrunner-admins

docs: Add component library system design and roadmap
  .buildrunner/STATUS.md
  ROADMAP.md
  docs/COMPONENT_LIBRARY_DESIGN.md
Owners: @DockeryAI/buildrunner-admins

fix: Wire up build system and fix terminal resize issues
  .buildrunner/STATUS.md
  apps/web/app/(app)/workbench/page.tsx
  apps/web/components/ClaudeOutputTerminal.tsx
Owners: @DockeryAI/buildrunner-admins

fix: Implement Server-Sent Events streaming for build progress
  .buildrunner/STATUS.md
  apps/web/app/(app)/workbench/page.tsx
  apps/web/app/api/build/status/route.ts
Owners: @DockeryAI/buildrunner-admins

fix: Add null checks for primary/secondary colors in design token validator
  .buildrunner/STATUS.md
  apps/web/lib/design-token-validator.ts
Owners: @DockeryAI/buildrunner-admins

fix: Stop extracting tech stack as buildable components
  .buildrunner/STATUS.md
  apps/web/lib/plan-to-components.ts
Owners: @DockeryAI/buildrunner-admins

fix: Disable legacy BuildPlanWidget endpoint calls
  .buildrunner/STATUS.md
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/app/globals.css
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/app/layout.tsx
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/app/page.tsx
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/components.json
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/components/ui/button.tsx
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/components/ui/card.tsx
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/components/ui/input.tsx
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/components/ui/label.tsx
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/lib/utils.ts
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/next.config.js
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/package.json
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/postcss.config.js
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/tailwind.config.js
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/tailwind.config.ts
  apps/web/builds/project_1762546258211/1762552372821-kzbtcjfr0/tsconfig.json
  apps/web/components/BuildPlanWidget.tsx
  apps/web/lib/learned-patterns/review-config.json
Owners: @DockeryAI/buildrunner-admins

fix: Add null checks for prd.features in context-builder
  .buildrunner/STATUS.md
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/app/globals.css
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/app/layout.tsx
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/app/page.tsx
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/components.json
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/components/ui/button.tsx
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/components/ui/card.tsx
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/components/ui/input.tsx
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/components/ui/label.tsx
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/lib/utils.ts
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/next.config.js
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/package.json
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/postcss.config.js
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/tailwind.config.js
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/tailwind.config.ts
  apps/web/builds/project_1762546258211/1762552764508-3rgzpkm6i/tsconfig.json
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/app/globals.css
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/app/layout.tsx
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/app/page.tsx
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/components.json
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/components/ui/button.tsx
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/components/ui/card.tsx
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/components/ui/input.tsx
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/components/ui/label.tsx
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/lib/utils.ts
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/next.config.js
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/package.json
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/postcss.config.js
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/tailwind.config.js
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/tailwind.config.ts
  apps/web/builds/project_1762546258211/1762552947490-204g36qow/tsconfig.json
  apps/web/lib/context-builder.ts
  apps/web/lib/learned-patterns/review-config.json
Owners: @DockeryAI/buildrunner-admins

fix: Add null checks for component.componentName in context-builder
  .buildrunner/STATUS.md
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/app/globals.css
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/app/layout.tsx
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/app/page.tsx
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/components.json
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/components/ui/button.tsx
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/components/ui/card.tsx
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/components/ui/input.tsx
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/components/ui/label.tsx
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/lib/utils.ts
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/next.config.js
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/package.json
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/postcss.config.js
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/tailwind.config.js
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/tailwind.config.ts
  apps/web/builds/project_1762546258211/1762553098700-bs2naarmc/tsconfig.json
  apps/web/lib/context-builder.ts
  apps/web/lib/learned-patterns/review-config.json
Owners: @DockeryAI/buildrunner-admins

fix: Add null safety check in build-orchestrator relatedFeatures matching
  .buildrunner/STATUS.md
  apps/web/lib/build-orchestrator.ts
Owners: @DockeryAI/buildrunner-admins

fix: Add null safety checks in ai-component-generator model selection
  .buildrunner/STATUS.md
  apps/web/lib/ai-component-generator.ts
Owners: @DockeryAI/buildrunner-admins

fix: Comprehensive null safety for component context creation
  .buildrunner/STATUS.md
  apps/web/lib/ai-component-generator.ts
  apps/web/lib/build-orchestrator.ts
Owners: @DockeryAI/buildrunner-admins

fix: Add null safety to inferComponentTypeFromMicrostep CLIENT-SIDE function
  .buildrunner/STATUS.md
  apps/web/lib/plan-to-components.ts
Owners: @DockeryAI/buildrunner-admins

fix: Add null safety to getInspirationForType in component-designer.ts
  .buildrunner/STATUS.md
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/app/globals.css
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/app/layout.tsx
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/app/page.tsx
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/components.json
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/components/ui/button.tsx
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/components/ui/card.tsx
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/components/ui/input.tsx
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/components/ui/label.tsx
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/lib/utils.ts
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/next.config.js
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/package.json
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/postcss.config.js
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/tailwind.config.js
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/tailwind.config.ts
  apps/web/builds/project_1762558688689/1762558735634-mbtb6tzhd/tsconfig.json
  apps/web/lib/component-designer.ts
  apps/web/lib/learned-patterns/review-config.json
Owners: @DockeryAI/buildrunner-admins

debug: Add detailed component filtering logs
  .buildrunner/STATUS.md
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/app/globals.css
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/app/layout.tsx
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/app/page.tsx
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/components.json
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/components/ui/button.tsx
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/components/ui/card.tsx
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/components/ui/input.tsx
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/components/ui/label.tsx
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/lib/utils.ts
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/next.config.js
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/package.json
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/postcss.config.js
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/tailwind.config.js
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/tailwind.config.ts
  apps/web/builds/project_1762558688689/1762559621641-mgcio2hhu/tsconfig.json
  apps/web/lib/file-writer.ts
  apps/web/lib/learned-patterns/review-config.json
Owners: @DockeryAI/buildrunner-admins

fix: Add null safety to pattern matcher toLowerCase() calls
  .buildrunner/STATUS.md
  apps/web/lib/pattern-matcher.ts
Owners: @DockeryAI/buildrunner-admins

feat: Enable dark mode for BuildRunner web app
  .buildrunner/STATUS.md
  apps/web/app/layout.tsx
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/app/globals.css
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/app/layout.tsx
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/app/page.tsx
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/components.json
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/components/ui/button.tsx
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/components/ui/card.tsx
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/components/ui/input.tsx
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/components/ui/label.tsx
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/lib/utils.ts
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/next.config.js
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/package.json
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/postcss.config.js
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/tailwind.config.js
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/tailwind.config.ts
  apps/web/builds/project_1762558688689/1762559973872-8wxjft1uw/tsconfig.json
  apps/web/lib/learned-patterns/review-config.json
Owners: @DockeryAI/buildrunner-admins

MAJOR: Replace fake API calls with REAL Claude CLI spawning
  .buildrunner/STATUS.md
  apps/web/lib/build-orchestrator.ts
  apps/web/lib/claude-cli-engine.ts
Owners: @DockeryAI/buildrunner-admins

fix: Remove OpenRouter dependencies and use Claude CLI engine only
  .buildrunner/STATUS.md
  apps/web/lib/archived/openrouter/ai-component-generator.ts
  apps/web/lib/build-orchestrator.ts
  apps/web/lib/claude-task-executor-v2.ts
Owners: @DockeryAI/buildrunner-admins

fix: Add loadContext method to ClaudeCLIEngine
  .buildrunner/STATUS.md
  apps/web/lib/claude-cli-engine.ts
Owners: @DockeryAI/buildrunner-admins

fix: Map plan components to task generator features format
  .buildrunner/STATUS.md
  apps/web/lib/build-orchestrator.ts
Owners: @DockeryAI/buildrunner-admins

fix: Send projectPlan to build API for proper component task generation
  .buildrunner/STATUS.md
  apps/web/app/(app)/workbench/page.tsx
Owners: @DockeryAI/buildrunner-admins

fix: Extract components from architecture when milestones are empty
  .buildrunner/STATUS.md
  apps/web/lib/plan-to-components.ts
Owners: @DockeryAI/buildrunner-admins

feat: Add performance optimization & PRD orchestration infrastructure (v1.2.0 Phase 1-2)
  .buildrunner/STATUS.md
  GAP_ANALYSIS_V1.2.md
  IMPLEMENTATION_PLAN.md
  OPTIMIZATION_GAP_ANALYSIS.md
  OPTIMIZATION_PROGRESS.md
  PARALLEL_EXECUTION_GAP_ANALYSIS.md
  PARALLEL_EXECUTION_IMPLEMENTATION.md
  PERSISTENT_SESSIONS_IMPLEMENTATION.md
  TESTING_PERSISTENT_SESSIONS.md
  apps/web/.env.example
  apps/web/.env.local
  apps/web/app/api/build/status/route.ts
  apps/web/components/ClaudeOutputTerminal.tsx
  apps/web/lib/build-orchestrator.ts
  apps/web/lib/build-state-lock.ts
  apps/web/lib/build-verifier.ts
  apps/web/lib/circuit-breaker.ts
  apps/web/lib/claude-cli-engine.ts
  apps/web/lib/claude-session.ts
  apps/web/lib/claude-task-executor-v2.ts
  apps/web/lib/performance-metrics.ts
  apps/web/lib/prd-watcher.ts
  apps/web/lib/session-pool.ts
  apps/web/lib/task-list-generator-v2.ts
  apps/web/lib/wave-detector.ts
  apps/web/package.json
  apps/web/scripts/benchmark.ts
  apps/web/tsconfig.tsbuildinfo
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads

feat: Complete PRD orchestration system - verification loop and chat (v1.2.0 Session 2)
  .buildrunner/STATUS.md
  COMPLETION_REPORT_V1.2.md
  IMPLEMENTATION_SUMMARY_V1.2.md
  apps/web/.env.example
  apps/web/app/api/build/apply-changes/route.ts
  apps/web/app/api/build/chat/route.ts
  apps/web/app/api/build/prd/export/route.ts
  apps/web/lib/build-orchestrator.ts
  apps/web/lib/code-change-applicator.ts
  apps/web/lib/code-change-parser.ts
Owners: @DockeryAI/buildrunner-admins

feat: Complete UI integration for PRD orchestration system (v1.2.0 Final)
  .buildrunner/STATUS.md
  PERFORMANCE_VALIDATION.md
  apps/web/app/(app)/project/[id]/page.tsx
  apps/web/components/LivePreviewTab.tsx
  apps/web/components/PRDWatcherIndicator.tsx
Owners: @DockeryAI/buildrunner-admins

docs: Add final completion summary for v1.2.0 PRD orchestration system
  .buildrunner/STATUS.md
  FINAL_COMPLETION_SUMMARY.md
Owners: @DockeryAI/buildrunner-admins

docs: Add comprehensive gap analysis vs implementation plan
  .buildrunner/STATUS.md
  FULL_GAP_ANALYSIS_VS_PLAN.md
Owners: @DockeryAI/buildrunner-admins

chore: Ignore build archives to prevent large file errors
  .buildrunner/STATUS.md
  apps/web/.gitignore
Owners: @DockeryAI/buildrunner-admins

feat: Complete 100% - README, integration tests, and enhanced context collector
  .buildrunner/STATUS.md
  README.md
  apps/web/lib/chat-context-collector.ts
  apps/web/tests/integration/prd-auto-update.test.ts
  apps/web/tests/integration/preview-chat.test.ts
  apps/web/tests/integration/verification-loop.test.ts
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads, @DockeryAI/product-owners

.github/CODEOWNERS:

# BuildRunner SaaS Code Owners
# This file defines who must review changes to specific files and directories
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (fallback for any file not specifically covered)
* @DockeryAI/buildrunner-admins

# Core BuildRunner specifications and state
/buildrunner/specs/plan.json @DockeryAI/product-owners @DockeryAI/tech-leads
/buildrunner/state/runner_state.json @DockeryAI/tech-leads @DockeryAI/buildrunner-admins

# Database migrations and schema changes
/supabase/migrations/ @DockeryAI/database-admins @DockeryAI/tech-leads
/supabase/config.toml @DockeryAI/database-admins
/supabase/seed.sql @DockeryAI/database-admins

# CI/CD and workflow configurations
/.github/workflows/ @DockeryAI/devops-leads @DockeryAI/tech-leads
/.github/CODEOWNERS @DockeryAI/buildrunner-admins
/.github/pull_request_template.md @DockeryAI/buildrunner-admins

# Governance and security policies
/governance/ @DockeryAI/security-leads @DockeryAI/buildrunner-admins
/governance/policy.yml @DockeryAI/security-leads @DockeryAI/tech-leads @DockeryAI/product-owners

# Security-sensitive files
/apps/server/lib/vault.ts @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/lib/security.ts @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/lib/audit.ts @DockeryAI/security-leads @DockeryAI/tech-leads

# Package management and dependencies
/package.json @DockeryAI/tech-leads @DockeryAI/security-leads
/package-lock.json @DockeryAI/tech-leads
/apps/web/package.json @DockeryAI/tech-leads
/apps/server/package.json @DockeryAI/tech-leads

# Infrastructure and deployment
/docker-compose.yml @DockeryAI/devops-leads @DockeryAI/tech-leads
/Dockerfile @DockeryAI/devops-leads
/.env.example @DockeryAI/devops-leads @DockeryAI/security-leads

# QA and testing configurations
/qa/ @DockeryAI/qa-leads @DockeryAI/tech-leads
/qa-runner.ts @DockeryAI/qa-leads @DockeryAI/tech-leads
/.github/workflows/qa-run.yml @DockeryAI/qa-leads @DockeryAI/devops-leads

# Documentation that affects governance
/README.md @DockeryAI/tech-leads @DockeryAI/product-owners
/CONTRIBUTING.md @DockeryAI/buildrunner-admins
/SECURITY.md @DockeryAI/security-leads @DockeryAI/buildrunner-admins

# API routes that handle sensitive operations
/apps/web/app/api/governance/ @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/app/api/audit/ @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/app/api/plans/ @DockeryAI/product-owners @DockeryAI/tech-leads

# Core business logic
/apps/web/lib/flow.ts @DockeryAI/product-owners @DockeryAI/tech-leads
/apps/web/lib/timeline.ts @DockeryAI/product-owners @DockeryAI/tech-leads
/apps/web/lib/approval.ts @DockeryAI/product-owners @DockeryAI/security-leads
