Repository DockeryAI/BuildRunnerSaaS, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DockeryAI/buildrunner-admins, @DockeryAI/product-owners, @DockeryAI/tech-leads, @DockeryAI/database-admins, @DockeryAI/devops-leads, @DockeryAI/security-leads, @DockeryAI/qa-leads

.github/CODEOWNERS:

# BuildRunner SaaS Code Owners
# This file defines who must review changes to specific files and directories
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (fallback for any file not specifically covered)
* @DockeryAI/buildrunner-admins

# Core BuildRunner specifications and state
/buildrunner/specs/plan.json @DockeryAI/product-owners @DockeryAI/tech-leads
/buildrunner/state/runner_state.json @DockeryAI/tech-leads @DockeryAI/buildrunner-admins

# Database migrations and schema changes
/supabase/migrations/ @DockeryAI/database-admins @DockeryAI/tech-leads
/supabase/config.toml @DockeryAI/database-admins
/supabase/seed.sql @DockeryAI/database-admins

# CI/CD and workflow configurations
/.github/workflows/ @DockeryAI/devops-leads @DockeryAI/tech-leads
/.github/CODEOWNERS @DockeryAI/buildrunner-admins
/.github/pull_request_template.md @DockeryAI/buildrunner-admins

# Governance and security policies
/governance/ @DockeryAI/security-leads @DockeryAI/buildrunner-admins
/governance/policy.yml @DockeryAI/security-leads @DockeryAI/tech-leads @DockeryAI/product-owners

# Security-sensitive files
/apps/server/lib/vault.ts @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/lib/security.ts @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/lib/audit.ts @DockeryAI/security-leads @DockeryAI/tech-leads

# Package management and dependencies
/package.json @DockeryAI/tech-leads @DockeryAI/security-leads
/package-lock.json @DockeryAI/tech-leads
/apps/web/package.json @DockeryAI/tech-leads
/apps/server/package.json @DockeryAI/tech-leads

# Infrastructure and deployment
/docker-compose.yml @DockeryAI/devops-leads @DockeryAI/tech-leads
/Dockerfile @DockeryAI/devops-leads
/.env.example @DockeryAI/devops-leads @DockeryAI/security-leads

# QA and testing configurations
/qa/ @DockeryAI/qa-leads @DockeryAI/tech-leads
/qa-runner.ts @DockeryAI/qa-leads @DockeryAI/tech-leads
/.github/workflows/qa-run.yml @DockeryAI/qa-leads @DockeryAI/devops-leads

# Documentation that affects governance
/README.md @DockeryAI/tech-leads @DockeryAI/product-owners
/CONTRIBUTING.md @DockeryAI/buildrunner-admins
/SECURITY.md @DockeryAI/security-leads @DockeryAI/buildrunner-admins

# API routes that handle sensitive operations
/apps/web/app/api/governance/ @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/app/api/audit/ @DockeryAI/security-leads @DockeryAI/tech-leads
/apps/web/app/api/plans/ @DockeryAI/product-owners @DockeryAI/tech-leads

# Core business logic
/apps/web/lib/flow.ts @DockeryAI/product-owners @DockeryAI/tech-leads
/apps/web/lib/timeline.ts @DockeryAI/product-owners @DockeryAI/tech-leads
/apps/web/lib/approval.ts @DockeryAI/product-owners @DockeryAI/security-leads

p0.s1.ms86: CORRECTED FORMAT - Fixed suggestions to true one-line format with expand arrows, AI-restructured executive summary, and all stats properly cited with sources
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms87: LAYOUT FIXES - Fixed onboarding card alignment to top under header, connected to real AI API instead of fake data for proper loading and analysis
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms88: FIXED FORMAT - Removed extra header, made draggable boxes ONE ROW ONLY with clear section targeting, fixed API format mismatch for proper AI suggestions
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/app/api/prd/build/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms90: FIXED AI CONNECTION - Added OPENROUTER_API_KEY to env, created mock suggestions for when API key missing, added clear indication of mock vs real AI data
  .runner/auggie-sync.log
  apps/web/.env.local
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/app/api/prd/build/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms91: DEBUGGING AI - Added detailed logging to see what AI is actually returning vs dummy data, will help identify if AI format is wrong
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/app/api/prd/build/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms92: FIXED AI PARSING - Added proper JSON extraction from Claude responses, auto-fill features section, automatic first suggestions without user prompt
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/app/api/prd/build/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms93: EXTENSIVE DEBUGGING - Added detailed logging to API calls, error handling, and response parsing to identify why AI returns empty arrays
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/api/prd/build/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms94: AI TEST ENDPOINT - Added simple test endpoint to verify OpenRouter API connection and Claude response format
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/api/test-ai/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms95: IDENTIFIED ISSUE - API key is placeholder, added better error detection and instructions for getting real OpenRouter key
  .runner/auggie-sync.log
  apps/web/.env.local
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/api/test-ai/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms96: FIXED API KEY RETRIEVAL - Modified API to get OpenRouter key from user settings instead of environment, added test page to verify connection
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/app/(app)/test-ai/page.tsx
  apps/web/app/api/prd/build/route.ts
  apps/web/app/api/test-ai/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms97: INDIVIDUAL FEATURE BOXES - Fixed features to be separate individual items instead of combined, each with clear one-row name and detailed description
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/app/api/prd/build/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms98: FIXED FEATURE SUGGESTIONS - AI now suggests NEW/ADDITIONAL features instead of repeating existing ones, and ADDS suggestions instead of clearing existing items
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
  apps/web/app/api/prd/build/route.ts
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms99: PARTIAL FIXES - Fixed [Name] placeholder in exec summary, added name suggestion button, started multi-phase suggestions system
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms101: FIXED RUNTIME ERROR - Moved handleSuggestName function to correct scope, removed duplicate definition
  .runner/auggie-sync.log
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0.s1.ms102: FIXED SCOPE ERROR - Added onSuggestName prop to PRDSectionPanel component and passed handleSuggestName function correctly
  .runner/auggie-sync.log
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/trace
  apps/web/app/(app)/create/page.tsx
Owners: @DockeryAI/buildrunner-admins

p0: Complete Phase 0 PRD Builder Enhancements - All Features Implemented
  .runner/state.json
  apps/web/app/(app)/create/page.tsx
  apps/web/app/(app)/plan/page.tsx
  apps/web/app/api/prd/build/route.ts
  apps/web/app/api/prd/generate-plan/route.ts
Owners: @DockeryAI/buildrunner-admins

fix: Project plan generation - Add architecture recommendations and fix JSON parsing
  apps/web/app/(app)/plan/page.tsx
  apps/web/app/api/prd/generate-plan/route.ts
Owners: @DockeryAI/buildrunner-admins

chore(governance): sync spec & state (Auggie under Build Runner)
  .runner/auggie-sync.log
  apps/web/.next/app-build-manifest.json
  apps/web/.next/build-manifest.json
  apps/web/.next/cache/webpack/client-development/0.pack.gz
  apps/web/.next/cache/webpack/client-development/index.pack.gz
  apps/web/.next/package.json
  apps/web/.next/react-loadable-manifest.json
  apps/web/.next/server/app-paths-manifest.json
  apps/web/.next/server/middleware-build-manifest.js
  apps/web/.next/server/middleware-manifest.json
  apps/web/.next/server/middleware-react-loadable-manifest.js
  apps/web/.next/server/next-font-manifest.js
  apps/web/.next/server/next-font-manifest.json
  apps/web/.next/server/pages-manifest.json
  apps/web/.next/server/server-reference-manifest.js
  apps/web/.next/server/server-reference-manifest.json
  apps/web/.next/static/chunks/polyfills.js
  apps/web/.next/static/development/_buildManifest.js
  apps/web/.next/static/development/_ssgManifest.js
  apps/web/.next/trace
  apps/web/.next/types/package.json
  apps/web/app/(app)/plan/page.tsx
Owners: @DockeryAI/buildrunner-admins

feat: Enhanced technology stack display with status grouping and tooltips
  .runner/auggie-sync.log
  apps/web/app/(app)/plan/page.tsx
  apps/web/app/api/prd/generate-plan/route.ts
Owners: @DockeryAI/buildrunner-admins

feat: Add guided API key setup wizard for non-technical users
  .runner/auggie-sync.log
  apps/web/app/(app)/plan/page.tsx
  apps/web/app/api/settings/validate-api-key/route.ts
  apps/web/components/ApiKeySetupWizard.tsx
Owners: @DockeryAI/buildrunner-admins

fix: CRITICAL - Resolve AutosaveManager errors and navigation flow issues
  apps/web/app/(app)/create/page.tsx
  apps/web/app/(app)/layout.tsx
  apps/web/app/(app)/plan/page.tsx
  apps/web/app/(app)/projects/page.tsx
  apps/web/app/(app)/restore/page.tsx
  apps/web/app/(app)/workbench/page.tsx
  apps/web/components/RecentBuilds.tsx
  apps/web/components/RecoveryBanner.tsx
  apps/web/lib/autosave.ts
  docs/BuildRunnerSaaS-spec.md
Owners: @DockeryAI/buildrunner-admins

feat: Migrate to Build Runner 3.0 Feature Registry System
  .buildrunner/STATUS.md
  .buildrunner/features.json
  .buildrunner/scripts/generate-status.js
  .buildrunner/scripts/generate-status.mjs
  .buildrunner/standards/CODING_STANDARDS.md
Owners: @DockeryAI/buildrunner-admins

chore(governance): sync spec & state (Auggie under Build Runner)
  .runner/auggie-sync.log
Owners: @DockeryAI/buildrunner-admins

chore(governance): sync spec & state (Auggie under Build Runner)
  .buildrunner/STATUS.md
  .buildrunner/features.json
  .runner/auggie-sync.log
Owners: @DockeryAI/buildrunner-admins

chore: Remove all legacy Build Runner 2.0 and Auggie code
  .auggie/policy.md
  .runner/auggie-sync.log
Owners: @DockeryAI/buildrunner-admins

feat: Add ChatGPT handoff and Cursor auto-load for Build Runner 3.0
  .buildrunner/STATUS.md
  .cursorrules
  .runner.backup-20251101-001331/auggie-governance.md
  .runner.backup-20251101-001331/auggie-sync.log
  .runner.backup-20251101-001331/governance.md
  .runner.backup-20251101-001331/scripts/auto-calculate-progress.sh
  .runner.backup-20251101-001331/scripts/br-auggie.sh
  .runner.backup-20251101-001331/scripts/br-handoff-enhanced.sh
  .runner.backup-20251101-001331/scripts/enhanced-handoff.sh
  .runner.backup-20251101-001331/scripts/smart-handoff.sh
  .runner.backup-20251101-001331/scripts/update-task-completion.sh
  .runner.backup-20251101-001331/state.json
  .runner.backup-20251101-001331/tasks/finalize_stage.sh
  .runner/gpt/handoff_prompt.txt
Owners: @DockeryAI/buildrunner-admins

feat: Populate features.json with comprehensive BuildRunnerSaaS data
  .buildrunner/STATUS.md
  .buildrunner/features.json
Owners: @DockeryAI/buildrunner-admins

feat: Add P0+P1 improvements for Build Runner 3.0 vision alignment
  .buildrunner/STATUS.md
  .buildrunner/features.json
  apps/web/app/(app)/brainstorm/page_backup.tsx
  apps/web/app/(app)/workbench/page.tsx.backup
  apps/web/components/ai-consensus/ConsensusPanel.tsx
  apps/web/components/ai-coordination/CoordinationMonitor.tsx
  apps/web/components/cost/CostOptimizationDashboard.tsx
  apps/web/components/github-sync/SyncStatusWidget.tsx
  apps/web/components/plan-editor/VisualPlanEditor.tsx
  apps/web/components/templates/PRDTemplateLibrary.tsx
  apps/web/lib/github-auto-sync.ts
  design-assets/architecture-flow-diagram.svg
  design-assets/workflow-node-buttons.svg
Owners: @DockeryAI/buildrunner-admins

feat: Add API routes for AI consensus, GitHub sync, templates, and cost tracking
  .buildrunner/STATUS.md
  apps/web/app/api/consensus/vote/route.ts
  apps/web/app/api/cost/track/route.ts
  apps/web/app/api/github/sync/route.ts
  apps/web/app/api/templates/route.ts
Owners: @DockeryAI/buildrunner-admins

docs: Add comprehensive implementation roadmap for P0+P1 completion
  .buildrunner/STATUS.md
  IMPLEMENTATION_ROADMAP.md
Owners: @DockeryAI/buildrunner-admins

feat: Complete P0+P1 integration - new pages, navigation, and infrastructure
  .buildrunner/STATUS.md
  apps/web/app/(app)/analytics/page.tsx
  apps/web/app/(app)/coordination/page.tsx
  apps/web/app/(app)/cost/page.tsx
  apps/web/app/(app)/create/page.tsx
  apps/web/app/(app)/design-system/page.tsx
  apps/web/app/(app)/layout.tsx
  apps/web/app/(app)/plan-editor/[projectId]/page.tsx
  apps/web/app/(app)/settings/backend/page.tsx
  apps/web/app/(app)/settings/billing/page.tsx
  apps/web/app/(app)/settings/github-sync/page.tsx
  apps/web/app/(app)/templates/page.tsx
  apps/web/app/api/billing/checkout/route.ts
  apps/web/app/api/github/sync/route.ts
  apps/web/billing/plans.json
  apps/web/components/ui/card.tsx
  apps/web/components/ui/separator.tsx
  apps/web/lib/github-auto-sync.ts
  apps/web/lib/mock-data.ts
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/server/lib/supabaseMgmt.js
  apps/web/server/lib/vault.js
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads

feat: Implement multi-tab safe project management (Phase 1)
  .buildrunner/STATUS.md
  apps/web/MULTI_TAB_GUIDE.md
  apps/web/app/(app)/layout.tsx
  apps/web/app/(app)/projects/page.tsx
  apps/web/app/(app)/settings/billing/page.tsx
  apps/web/app/(app)/test-ai/page.tsx
  apps/web/app/(app)/workbench/page.tsx
  apps/web/app/api/analytics/export/route.ts
  apps/web/app/api/audit/alerts/route.ts
  apps/web/app/api/billing/checkout/route.ts
  apps/web/app/api/brainstorm/chat/route.ts
  apps/web/app/api/import/route.ts
  apps/web/app/api/integrations/sync/issues/route.ts
  apps/web/app/api/test-ai/route.ts
  apps/web/components/project/ProjectSelector.tsx
  apps/web/lib/analytics/storage.ts
  apps/web/lib/billing/billing.ts
  apps/web/lib/multi-tab-manager.ts
  apps/web/lib/offline/db.ts
  apps/web/lib/project-context.tsx
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/security-leads, @DockeryAI/tech-leads

feat: Complete interactive preview system with AI auto-fix
  .buildrunner/STATUS.md
  apps/web/IMPLEMENTATION_SUMMARY.md
  apps/web/app/api/build/autofix/route.ts
  apps/web/app/api/build/feedback/route.ts
  apps/web/app/api/build/preview/route.ts
  apps/web/components/FeedbackInput.tsx
  apps/web/components/FeedbackItem.tsx
  apps/web/components/FeedbackSidebar.tsx
  apps/web/components/InteractivePreview.tsx
  apps/web/lib/autofix-agent.ts
  apps/web/lib/types/feedback.ts
  apps/web/package-lock.json
  apps/web/package.json
  apps/web/tsconfig.tsbuildinfo
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads

feat: Add PRD update integration to preview system
  .buildrunner/STATUS.md
  apps/web/app/api/prd/update-from-preview/route.ts
  apps/web/components/FeedbackItem.tsx
  apps/web/components/FeedbackSidebar.tsx
  apps/web/components/InteractivePreview.tsx
  apps/web/components/PRDSuggestionsPanel.tsx
  apps/web/docs/PRD_INTEGRATION_FLOW.md
  apps/web/docs/PRD_INTEGRATION_QUICK_START.md
  apps/web/docs/PRD_INTEGRATION_SUMMARY.md
  apps/web/lib/ai-suggestions.ts
  apps/web/lib/prd-updater.ts
  apps/web/tsconfig.tsbuildinfo
Owners: @DockeryAI/buildrunner-admins

fix: Make Supabase optional in auth.tsx to allow running without env vars
  .buildrunner/STATUS.md
  apps/web/lib/auth.tsx
Owners: @DockeryAI/buildrunner-admins

feat: Add comprehensive mobile app preview and download support
  .buildrunner/STATUS.md
  apps/web/app/(app)/workbench/page.tsx
  apps/web/app/api/build/download/route.ts
  apps/web/app/api/build/preview/route.ts
  apps/web/lib/build-orchestrator.ts
  apps/web/package-lock.json
  apps/web/package.json
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads

fix: Critical build system fixes for dependency management and progress tracking
  .buildrunner/STATUS.md
  apps/web/app/(app)/projects/page.tsx
  apps/web/app/(app)/workbench/page.tsx
  apps/web/app/api/build/cleanup/route.ts
  apps/web/app/api/build/events/route.ts
  apps/web/app/api/build/stop/route.ts
  apps/web/components/ArchitectureFlowDiagram.tsx
  apps/web/lib/build-orchestrator.ts
  apps/web/lib/file-writer.ts
  apps/web/lib/templates/nextjs/tsconfig.json.template
Owners: @DockeryAI/buildrunner-admins

fix: Enhance plan generation with comprehensive architecture support
  .buildrunner/STATUS.md
  apps/web/app/api/prd/generate-plan/route.ts
Owners: @DockeryAI/buildrunner-admins

feat: Implement Phase 1 Speed Optimization (Pattern Matching, Caching, Smart Consensus)
  .buildrunner/STATUS.md
  apps/web/lib/cache-manager.ts
  apps/web/lib/pattern-matcher.ts
  apps/web/lib/smart-consensus.ts
  apps/web/package-lock.json
  apps/web/package.json
Owners: @DockeryAI/buildrunner-admins, @DockeryAI/tech-leads

feat: Complete Phase 1 Integration - Optimized Orchestrator & Documentation
  .buildrunner/STATUS.md
  apps/web/lib/optimized-orchestrator.ts
  docs/PHASE1_SPEED_OPTIMIZATION.md
Owners: @DockeryAI/buildrunner-admins
